.grid-container {
    display: grid;
    grid-template-areas: 
                        ". header header header nav"
                        "main main main main sidebar"
                        "main main main main sidebar"
                        "footer footer footer footer .";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.header {
    grid-area: header;
    background-image: url("../media/440header.jpg");
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: .5em solid lightblue; */
    text-align: center;
    font-size: 3em;
    font-family: 'Righteous', cursive;
    color: whitesmoke;
    text-shadow: 0 0 10px black;

}

.header h1 {
    padding-top: 0;
    font: outline;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 1rem;
}

.nav {
    grid-area: nav;
    background-color: gray;
}

.main {
    grid-area: main;
    border-color: blue 5px solid;
}

.sidebar {
    grid-area: sidebar;
    background-color: red;
    height: 50vh;
}

.footer {
    grid-area: footer;
    background-color: black;
    color: white;
    height: 10vh;
}