.grid-container {
    display: grid;
    grid-template-areas: 
                        "header header header header header"
                        "nav main main main sidebar"
                        "nav main main main sidebar"
                        "footer footer footer footer social";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.map {
    background-image: url("../media/440header.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 1rem;
    border: 2px rgba(67, 79, 59, 0.822) inset;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 2rem;
}



.header {
    grid-area: header;
    background-image: repeating-radial-gradient(circle, white, whitesmoke, silver, black, silver);
    height: 25rem;
    padding: 1rem;
}

.logo {
    width: 30rem;
    height: 10rem;
    margin: auto auto;
}

.social {
    grid-area: social;
    padding: 2rem;
    color: #645F52;
    font-size: 4rem;
    height: 10rem;
}

.mapWrapper {
    width: 9rem;
    height: 6rem;
}

.nav {
    grid-area: nav;
    border: gray 2px solid;
    height: 50vh;
}

.nav ul {
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 3rem;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.main {
    grid-area: main;
    border: black 2px solid;
    padding: 3rem;
    background-color: black;
}

.footer {
    grid-area: footer;
    background-color: black;
    color: white;
    height: 10vh;
}